.idea/

.gradle
/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# File-based project format
*.iws

# IntelliJ
out/

gradle.properties
